html, body, .container-fluid, #map {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/* note: attempt at fixing blurry zoom */
#map, img, canvas {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

/* full screen support */
.map:-moz-full-screen {
    height: 100%;
}
.map:-webkit-full-screen {
    height: 100%;
}
.map:-ms-fullscreen {
    height: 100%;
}
.map:fullscreen {
    height: 100%;
}

/**
   Hovering info window
 */
.popover {
    z-index: auto;
    min-width: 300px !important;
}
.popover-title {
    background-color: #202020;
    color: #f0f0f0;
    padding: 0.25em 0.5em;
}
.popover-content {
    padding: 0.25em 0.5em;
    font-size: 90%;
}

.mob {
}
.mob_name {
    font-weight: bold;
}
.mob_id {
}

#throbber {
    z-index: auto;
    background-color: #e0e0e0;
    color: #000000;
    border: 2px solid black;
    border-radius: 5px;
    height: auto;
    width: 200px;
    padding: 10px;
    -moz-opacity: 0.85;
    opacity: 0.85;
    filter: alpha(opacity=85);
    position: absolute; left: 75px; top: 10px;
}
#throbber-msg {
    color: #606060;
}

.mycenter {
    text-align: center;
}

.lgray {
    color: #b0b0b0;
}

.nobreak {
    white-space:nowrap;
}

.modal-dialog {
    width: 50vw;
}

.my-scrollable {
    max-height: 300px;
    overflow: auto;
}

.my-simple-scrollable {
    overflow: auto;
}


.inventory-grid {
    /* background-color: #ffdddd;*/
    border: 1px dotted gray;
    white-space:nowrap;
    padding: 2px;
    width: 60px;
}
.inventory-item-image {
    /* background-color: #ddffdd;*/
    /* display: inline-block; */
    vertical-align: middle;
    /* float: left; */
}
.inventory-item-count {
    /* background-color: #ddddff; */
    /* font-size: 24px; */
    /* display: inline-block; */
    vertical-align: middle;
}

/* make tabs on inventories etc much samller; indent them a bit */
.myTabs > li > a {
    padding: 2px;
}
.myTabsContainer {
    padding-left: 1em;
}

.my-indent {
    padding-left: 1.5em;
}

.myTabsContainer .tab-content {
    border: 1px solid #222;
    padding: 10px;
}

.myTabsContainer .nav-pills li {
    background-color: transparent;
    color: black;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-radius: 4px 4px 0 0;
    padding: 0;
}
.myTabsContainer .nav-pills li a {
    border-radius: 0;
    width: 100%;
    display: block;
    padding: 2px 4px;
}

.pre-scrollable {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dropdown-menu {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/**
    Override Open Layers style, position custom OL controls
 */
.ol-attribution.ol-control ul {
    font-size: inherit !important;
}

.ol-attribution.ol-control,
.ol-attribution.ol-control:hover {
    bottom: 4px;
    right: 0;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.ol-control,
.ol-control:hover {
    background-color: white;
    border: 1px solid #999999;
    box-shadow: 3px 0 4px rgba(0, 0, 0, 0.3);
}

.ol-control button,
.ol-control button:active,
.ol-control button:focus {
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    height: 32px;
    width: 32px;
    font-size: 24px;
}

.ol-control button:hover,
.pin-active {
    background-color: rgba(84, 181, 255, 0.5) !important;
    color: black !important;
}

.ol-full-screen {
    top: 8px;
    right: 10px;
}

.ol-zoom {
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
}

.ol-zoom-extent {
    top: auto;
    left: auto;
    bottom: 86px;
    right: 10px;
}

.ol-control.measure {
    top: auto;
    left: auto;
    bottom: 263px;
    right: 10px;
}

.ol-control.measure button {
    display: inline-block;
}

.ol-scale-line {
    left: auto;
    right: 100px;
    bottom: 10px;
}

.ol-control.players {
    position: absolute;
    bottom: 10px;
    right: 56px;
}

.ol-control.help {
    position: absolute;
    top: 52px;
    right: 10px;
}

.ol-control.settings {
    position: absolute;
    top: 96px;
    right: 10px;
}

.ol-control.layers {
    bottom: 130px;
    right: 10px;
}

.ol-mouse-position {
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    right: 56px;
    top: 8px;
}

.ol-rotate {
    bottom: 86px;
    right: 56px;
    top: auto;
}

body.small-vertical .ol-mouse-position {
    right: 100px;
}

body.small-vertical .ol-full-screen,
body.small-vertical .ol-control.help,
body.small-vertical .ol-control.settings {
    right: 56px;
}

body.tiny-vertical .ol-control.measure,
body.tiny-vertical .ol-zoom-extent {
    display: none;
}
body.tiny-vertical .ol-control.layers {
    bottom: 86px;
}

body.micro-vertical .ol-control,
body.micro-vertical .ol-scale-line {
    display: none;
}

body.micro-vertical .ol-mouse-position {
    right: 10px;
}

/**
    Map Control icons
*/
.interface-icon {
    height: 24px;
    width: 24px;
}
